pkgbase = dtags
	pkgdesc = Directory Tags for Lazy Programmers
	pkgver = 4.0.5
	pkgrel = 2
	url = https://git.yj1516.top/AUR/dtags
	install = dtags.install
	arch = any
	license = MIT
	depends = python
	depends = python-slugify
	provides = dtags=4.0.5
	source = git+https://git.yj1516.top/AUR/dtags.git#tag=v4.0.5
	sha256sums = SKIP

pkgname = dtags
